.header-container {
  background-color: #191b3c;
  padding: 20px 0px 20px 0px;
  color: var(--white-color);
  top: 0;
  position: sticky;
  z-index: 2;

  .header-inner {
    display: flex;
    align-items: center;
    gap: 40px;
    white-space: nowrap;

    .header-left {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: var(--font-family);

      .header-logo-text {
        font-weight: 700;
        font-size: 24px;
        line-height: 29.05px;
      }
    }

    .header-mid {
      font-family: var(--font-family);
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 19.36px;
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 10px;

      .header-welcome {
        display: flex;
        gap: 5px;

        .header-text {
          font-family: var(--font-family);
          &-welcome {
            font-weight: 400;
            color: var(--grey-color);
          }

          &-name {
            font-weight: 500;
          }
        }
      }

      .header-logout-btn {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        color: var(--grey-color);
        padding: 10px 24px 10px 24px;
        border-radius: 100px;
        background-color: var(--header-logout-btn-color);
      }
    }
  }
}
.ant-drawer-header {
  background-color: #191b3c;
  color: white;

  .ant-drawer-close {
    color: white;
  }
}

.ant-drawer-body {
  background-color: #0d0f31;
}

@media (max-width: 1024px) {
  .header-logo-text {
    font-size: 20px;
  }

  .header-logout-btn {
    padding: 8px 20px;
  }
}

@media (max-width: 768px) {
  .xs-pd-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .header-mid {
    display: none !important;
  }

  .header-right {
    display: none !important;
  }
}
