.header-container {
  background-color: var(--header-bg-color);
  padding: 20px 0px 20px 0px;
  color: var(--white-color);
  top: 0;
  position: sticky;
  z-index: 2;

  .header-inner {
    display: flex;
    align-items: center;
    padding: 0px 122px 0px 122px;
    gap: 40px;
    white-space: nowrap;

    .header-left {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: var(--font-family);

      .header-logo-text {
        font-weight: 700;
        font-size: 24px;
        line-height: 29.05px;
      }
    }

    .header-mid {
      font-family: var(--font-family);
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 19.36px;
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 10px;

      .header-welcome {
        display: flex;
        gap: 5px;

        .header-text {
          font-family: var(--font-family);
          &-welcome {
            font-weight: 400;
            color: var(--grey-color);
          }

          &-name {
            font-weight: 500;
          }
        }
      }

      .header-logout-btn {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        color: var(--grey-color);
        padding: 10px 24px 10px 24px;
        border-radius: 100px;
        background-color: var(--header-logout-btn-color);
      }
    }
  }
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
  .header-inner {
    padding: 0 40px;
    gap: 20px;
  }

  .header-logo-text {
    font-size: 20px;
  }

  .header-logout-btn {
    padding: 8px 20px;
  }
}

@media (max-width: 768px) {
  .header-inner {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;
  }

  .header-mid {
    width: 100%;
    text-align: center;
  }

  .header-right {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .header-logout-btn {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .header-container {
    position: relative;
  }
}

@media (max-width: 480px) {
  .header-inner {
    padding: 0 10px;
    gap: 10px;

    .header-right {
      flex-direction: row;
    }
  }

  .header-logo-text {
    font-size: 18px;
  }

  .header-logout-btn {
    padding: 6px 16px;
  }
}
