.font__style {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 765px) {
  .projectlist-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.task-search {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

@media screen and (max-width: 500px) {
  .task-search {
    flex-direction: column;
    gap: 10px;
  }
}
