:root {
  --text-color: #c2c2c2;
  --white-color: #ffffff;
  --primary-color: rgba(20, 22, 59, 1);
  --primary-border-color: rgba(36, 38, 91, 1);
  --primary-input-bg: #14163b;
  --gray-color: #7d7e8d;
  --white-color: #ffffff;
  --effect-color: rgba(5, 145, 255, 0.1);
  --header-bg-color: #2f3163;
  --header-logout-btn-color: #24265b;
  --grey-color: #9d9eaa;
  --background-color: #0d0f31;
  --font-family: "Inter", sans-serif;
}
